@charset 'UTF-8';

body {
  position: relative;
  background-color: darksalmon;
  width: 100%;
  margin: 0 auto;
  height: 0;
}

hgroup#h12 {
  font-size: 14pt;
  color: aliceblue;
  text-align: center;
  background-color: black;
  margin-top: -22px;
  margin-left: -10px;
  margin-right: -22px;
  padding: 5px;
}

header#cabecalho {
  position: absolute;
  color: aqua;
  top: 60px;
  left: 1100px;
}

a {
  color: crimson;
  text-decoration: none;
}

figure.topo {
  margin-left: 33px;
  margin-top: 20px;
  margin-right: 20px;
}

figure.abaixo {
  margin-left: 35px;
  margin-top: 120px;
  margin-right: -10px;
}

li {
  list-style: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 20px;
}

p {
  text-align: center;
  font-size: 20pt;
}

p#c {
  text-align: center;
  margin: 20px;
  padding: 0px;
  font-family: "Times New Roman", Times, serif;
  color: rgb(120, 05, 67);
}

fieldset#a {
  font-size: 20pt;
  text-align: center;
  color: whitesmoke;
  margin: 0px 200px;
}

#cEnviar {
  font-size: 25px;
  font-weight: 500 bolder;
  margin-left: 70px;
}

footer#rodape {
  font-size: 16pt;
  background-color: blue;
  margin-left: -10px;
  margin-right: -22px;
  margin-bottom: -5px;
  padding: 69px;
}

div#flutuar {
  position: absolute;
  bottom: auto;
  left: -400px;
  text-indent: 200px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20pt;
  color: chartreuse;
}
